#jumbo {
	padding: 1rem 1rem !important;
}

/*.jumbotron{
	margin-top: 200px;
}*/

.card-deck {
	margin: auto;
}

@media screen and (min-width: 1700px) {
	.d-xxl-none {
		display: none !important;
	}
}